@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i');
body {
    background: url('../img/background.png');
    font-family: 'Lato', sans-serif;
    color: white;
}

/*formatting of navbar*/
.navbar {
    background: black;
    border: none;
    margin-bottom: 0;
}
.navbar li {
    padding: 5px 10px 5px 10px;
    margin: 0;
}
.navbar li a {
    font-size: 1.1em;
    color: #fff !important;
}
.navbar li:hover {
    background: rgba(255, 255, 255, 0.4);
}
.navbar-header {
    padding: 5px 0px 5px 0;
}
.navbar-brand {
    font-size: 1.5em;
    font-weight: bold;
    color: #fff !important;
}

/*Formatting of side navigation bar*/
.col-sm-2 {
    padding: 0;
    text-align: center;
    background: rgba(0, 0, 0, 0.2);
}
.sideNav:hover, .sideNav.active {
    background: rgba(255, 255, 255, 0.4);
}
.sideNav a {
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    display: inline-block;
}
#profilePic {
    background-image: url('../img/profile.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
#profilePic a {
    width: 100%;
}
#profilePic a:hover {
    background: rgba(0, 0, 0, 0.3);
}

/*Formatting of the dashboard-profile & dashboard-update-profile*/
.col-sm-10 {
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
    background: rgba(255, 255, 255, 0.2);
}
form {
    padding: 40px 55px 40px 25px;
}
.help-block {
    color: white;
}
#cityInput {
    margin-top: 10px;
}
.buttonWrapper {
    text-align: center;
}
.buttonWrapper button {
    display: inline-block;
    background: rgba(0, 0, 0, 0.3);
    width: 35%;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.2em;
    font-weight: bolder;
    border-radius: 3px;
    border: none;
    margin-bottom: 80px;
}
.buttonWrapper button:hover {
    background: rgba(0, 0, 0, 0.5);
}
.col-sm-10 .col-sm-6 {
    padding: 0;
}
