@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&subset=latin-ext,vietnamese');
body {
    background: url('../img/background.png');
    /* Refer to whar font Github has used */
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", 'Roboto', sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: white;
}

/*Formatting of the navbar*/
.navbar {
    background: rgba(0, 0, 0, 0.4);
    border: none;
}
.navbar-header {
    padding: 5px 0px 5px 0;
}
.navbar-brand {
    font-size: 1.5em;
    font-weight: bold;
    color: #fff !important;
}

/*Formatting of the headline section*/
.headline {
    text-align: center;
    padding-bottom: 10px;
}
.headline p {
    font-size: 1.2em;
}

/*Formatting of the form*/
form {
    background: rgba(255, 255, 255, 0.2);
    padding: 40px 25px 40px 25px;
    border-radius: 3px;
    margin-bottom: 80px;
}
.help-block {
    color: white;
}
input.ng-invalid.ng-touched {
    background-color: pink;
}
textarea.ng-invalid.ng-touched {
    background-color: pink;
}
.errorMessage {
    color: pink;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    margin-bottom: 0;
}
#firstRadio {
    margin-top: 0;
}
#language {
    width: 60%;
}
#buttonDiv {
    text-align: center;
    margin-top: 40px;
}
.btn-default {
    font-size: 1.5em;
    font-weight: bolder;
    width: 50%;
    background: rgba(255, 255, 255, 0.3);
    color: white;
    border: 0;
}
