<!DOCTYPE html>
<html lang="en" ng-app="teamform-dashboard-app">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="teamform, team">
    <title>Teamform - Dashboard</title>

    <script src="lib/jquery.min.js"></script>
    <script src="lib/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/dashboard.css" media="screen">
    <link rel="icon" href="img/icon.png">
    <!-- Customized libraries shared by pages -->
    <script src="js/site.js"></script>
</head>

<body>
    <div class="container-fluid" ng-controller="DashboardCtrl">

        <!--Navigation Bar-->
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navCollapse" aria-expanded="false"
                    aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Teamform</a>
            </div>
            <ul class="nav navbar-nav navbar-right collapse navbar-collapse" id="navCollapse">
                <li class="visible-xs-block"><a href="dashboard.html"><i class="fa fa-user fa-fw" aria-hidden="true"></i>&nbsp; Profile</a></li>
                <li class="visible-xs-block"><a href="team.html"><i class="fa fa-users fa-fw" aria-hidden="true"></i>&nbsp; Teams</a></li>
                <li class="visible-xs-block"><a href="event.html"><i class="fa fa-flag-checkered fa-fw" aria-hidden="true"></i>&nbsp; Events</a></li>
                <li class="visible-xs-block"><a href="explore.html"><i class="fa fa-search fa-fw" aria-hidden="true"></i>&nbsp; Explore</a></li>
                <li class="visible-xs-block"><a href="message.html"><i class="fa fa-envelope-o fa-fw" aria-hidden="true"></i>&nbsp; Messages</a></li>
                <li><a href="#"><i class="fa fa-power-off fa-fw" aria-hidden="true"></i>&nbsp; Log out</a></li>
            </ul>
        </nav>

        <!--The Main Application View-->
        <div class="row" id="main">
            <!--The side navigation bar-->
            <div class="col-sm-2 hidden-xs setMargin">
                <!--TODO Link the background-image of #profilePic with the profile picture database-->
                <div class="sideNav" id="profilePic">
                    <a href="dashboard.html"></a>
                </div>
                <div class="sideNav">
                    <a href="team.html"><i class="fa fa-users fa-3x" aria-hidden="true"></i><br>Teams</a>
                </div>
                <div class="sideNav">
                    <a href="event.html"><i class="fa fa-flag-checkered fa-3x" aria-hidden="true"></i><br>Events</a>
                </div>
                <div class="sideNav">
                    <a href="explore.html"><i class="fa fa-search fa-3x" aria-hidden="true"></i><br>Explore</a>
                </div>
                <div class="sideNav">
                    <a href="message.html"><i class="fa fa-envelope-o fa-3x" aria-hidden="true"></i><br>Messages</a>
                </div>
            </div>
            <!--Content-->
            <!--Class .profileView is displayed in the dashboard profile view-->
            <!--Class .updateProfileView is displayed after clicking "updateProfileView Profile" button-->
            <div class="col-sm-10 setMargin">
                <!--TODO: All values in the profile are dummy values! Link them to the database with AngularFire!-->
                <!--TODO: The name attributes of the form input fields need to correspond with that in the database!-->
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-xs-4 control-label">Username</label>
                        <div class="col-xs-8">
                            <p class="form-control-static profileView">{{ username }}</p>
                            <input type="text" class="form-control updateProfileView" name="username" aria-describedby="helpUsername" placeholder="Username" ng-model="username">
                            <span id="helpUsername" class="help-block updateProfileView">Length limited to 5-20 characters. Only letters, digits, hyphens and underscores are allowed.</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-4 control-label">Email</label>
                        <div class="col-xs-8">
                            <p class="form-control-static profileView">{{ email }}</p>
                            <input type="email" class="form-control updateProfileView" name="email" placeholder="Email Address" ng-model="email">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-4 control-label">Gender</label>
                        <div class="col-xs-8">
                            <p class="form-control-static profileView">{{ gender }}</p>
                            <div class="updateProfileView">
                                <label class="radio-inline">
                                    <input type="radio" name="gender" value="Male" checked> Male
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="gender" value="Female"> Female
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-4 control-label">Birthday</label>
                        <div class="col-xs-8">
                            <p class="form-control-static profileView">{{ birthday }}</p>
                            <input type="date" class="form-control updateProfileView" name="birthday" ng-model="birthday">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-4 control-label">Location</label>
                        <div class="col-xs-8">
                            <p class="form-control-static profileView">{{ country }}, {{ city }}</p>
                            <input type="text" class="form-control updateProfileView" name="country" placeholder="Country" ng-model="country">
                            <input type="text" class="form-control updateProfileView" name="city" placeholder="City" id="cityInput" ng-model="city">

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-4 control-label">Languages</label>
                        <div class="col-xs-8">
                            <p class="form-control-static profileView">{{ languages }}</p>
                            <input type="text" class="form-control updateProfileView" name="language" id="language" placeholder="Languages you speak"
                                aria-describedby="helpLanguage" ng-model="languages">
                            <span id="helpLanguage" class="help-block updateProfileView">Use commas to separate multiple languages (e.g. English, Mandarin, Cantonese).</span>

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-4 control-label">Education</label>
                        <div class="col-xs-8">
                            <p class="form-control-static profileView">{{ education }}/p>
                            <div id="education" class="updateProfileView">
                                <div class="radio" id="firstRadio">
                                    <label>
                                        <input type="radio" name="education" value="associate">Associate Degree
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="education" value="bachelor" checked> Bachelor's Degree
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="education" value="master"> Master's Degree
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="education" value="PhD"> PhD
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-4 control-label">Skills</label>
                        <div class="col-xs-8">
                            <p class="form-control-static profileView">
                                {{ skills }}
                            </p>
                            <input type="text" class="form-control updateProfileView" name="skill" id="skill" placeholder="Skills you have" aria-describedby="helpSkill"
                                ng-model="skills">
                            <span id="helpSkill" class="help-block updateProfileView">Use commas to separate multiple skills (e.g. Web Programming,AngularJS,Firebase).</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-4 control-label">Introduction</label>
                        <div class="col-xs-8">
                            <p class="form-control-static profileView">
                                {{ introduction }}
                            </p>
                            <textarea name="name" class="form-control updateProfileView" rows="4" placeholder="Briefly introduce yourself!" aria-describedby="helpIntroduction">{{ introduction }}</textarea>
                            <span id="helpIntroduction" class="help-block updateProfileView">Max 200 characters allowed.</span>
                        </div>
                    </div>
                </form>
                <!--Buttons-->
                <!--TODO: Behaviour after clicking the "updateProfileView!" button needs to be added in backend!-->
                <div class="buttonWrapper">
                    <button type="button" name="button" class="profileView" id="updateProfile">Update Profile</button>
                    <button type="button" name="button" class="updateProfileView">Update!</button>
                </div>
            </div>
        </div>
    </div>


    <script src="js/dashboard.js"></script>
</body>

</html>