<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="teamform, team">
    <title>Teamform - Event Management</title>

    <script src="lib/jquery.min.js"></script>
    <script src="lib/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/dashboard.css" media="screen">
    <link rel="stylesheet" href="css/event.css" media="screen">

    <link rel="icon" href="img/icon.png">
    <!-- AngularJS -->
    <script src="lib/angular.min.js"></script>

    <!-- Firebase -->
    <script src="https://www.gstatic.com/firebasejs/3.4.1/firebase.js"></script>

    <!-- AngularFire -->
    <script src="lib/angularfire.min.js"></script>

    <!-- Customized libraries shared by pages -->
    <script src="js/site.js"></script>
    <script src="js/eventManagement.js"></script>

</head>
<body ng-app="teamform-event-manage-app">
    <div class="container-fluid">

        <!--Navigation Bar-->
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navCollapse" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Teamform</a>
            </div>
            <ul class="nav navbar-nav navbar-right collapse navbar-collapse" id="navCollapse">
                <li class="visible-xs-block"><a href="dashboard.html"><i class="fa fa-user fa-fw" aria-hidden="true"></i>&nbsp; Profile</a></li>
                <li class="visible-xs-block"><a href="team.html"><i class="fa fa-users fa-fw" aria-hidden="true"></i>&nbsp; Teams</a></li>
                <li class="visible-xs-block"><a href="event.html"><i class="fa fa-flag-checkered fa-fw" aria-hidden="true"></i>&nbsp; Events</a></li>
                <li class="visible-xs-block"><a href="explore.html"><i class="fa fa-search fa-fw" aria-hidden="true"></i>&nbsp; Explore</a></li>
                <li class="visible-xs-block"><a href="message.html"><i class="fa fa-envelope-o fa-fw" aria-hidden="true"></i>&nbsp; Messages</a></li>
                <li><a href="#"><i class="fa fa-power-off fa-fw" aria-hidden="true"></i>&nbsp; Log out</a></li>
            </ul>
        </nav>

        <!--The Main Application View-->
        <div class="row" id="main">

            <!--The side navigation bar-->
            <div class="col-sm-2 hidden-xs setMargin">
                <!--TODO Link the background-image of #profilePic with the profile picture database-->
                <div class="sideNav" id="profilePic">
                    <a href="dashboard.html"></a>
                </div>
                <div class="sideNav">
                    <a href="team.html"><i class="fa fa-users fa-3x" aria-hidden="true"></i><br>Teams</a>
                </div>
                <div class="sideNav active">
                    <a href="event.html"><i class="fa fa-flag-checkered fa-3x" aria-hidden="true"></i><br>Events</a>
                </div>
                <div class="sideNav">
                    <a href="explore.html"><i class="fa fa-search fa-3x" aria-hidden="true"></i><br>Explore</a>
                </div>
                <div class="sideNav">
                    <a href="message.html"><i class="fa fa-envelope-o fa-3x" aria-hidden="true"></i><br>Messages</a>
                </div>
            </div>

            <!--Content-->
            <div class="col-sm-10 setMargin">
                <!--eventInfoView wraps the event information-->
                <div class="eventInfoView">
                    <h2>exampleEvent</h2>
                    <ul style="list-style-type:none">
                        <li class="row"><div class="col-xs-3">Status</div><div class="col-xs-9">Open</div></li>
                        <li class="row"><div class="col-xs-3">Time</div><div class="col-xs-9">Nov 16, 2016 12:00</div></li>
                        <li class="row"><div class="col-xs-3">Location</div><div class="col-xs-9">Hong Kong, Hong Kong</div></li>
                        <li class="row"><div class="col-xs-3">Max Team Number</div><div class="col-xs-9">50</div></li>
                        <li class="row"><div class="col-xs-3">Team Size Limit</div><div class="col-xs-9">5 to 8</div></li>
                        <li class="row"><div class="col-xs-3">Keywords</div><div class="col-xs-9">Hackathon, Java, CS</div></li>
                        <li class="row"><div class="col-xs-3">Introduction</div><div class="col-xs-9">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </div></li>
                    </ul>
                    <!--Click the updateEventInfo button will toggle the view to editing-->
                    <div class="row buttonWrapper" style="margin: 0">
                        <button type="button" id="updateEventInfo" name="button" style="width: 100%; padding-top: 20px; padding-bottom: 20px; margin-bottom: 0;">Update Event Infomation</button>
                    </div>
                </div>
                <!--updateEventInfoView wraps the form to update information-->
                <div class="updateEventInfoView">
                    <h2>exampleEvent</h2>
                    <form class="form-horizontal">
                        <div class="form-group stand-alone-form-group">
                            <label class="col-xs-3 control-label">Status</label>
                            <div class="col-xs-9">
                                <label class="radio-inline">
                                    <input type="radio" name="status" id="open" value="open" checked> Open
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="status" id="closed" value="closed"> Closed
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="status" id="terminated" value="terminated"> Terminated
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-3 control-label">Time</label>
                            <div class="form-inline col-xs-9" id="eventTime">
                                <div class="form-group">
                                    <input type="date" class="form-control" name="date" required>
                                </div>
                                <div class="form-group">
                                    <input type="time" class="form-control" name="time" required>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-3 control-label">Event Location</label>
                            <div class="form-inline col-xs-9" id="location">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="country" placeholder="Country" required>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" name="city" placeholder="City" required>
                                </div>
                            </div>
                        </div>
                        <div class="form-group stand-alone-form-group">
                            <label class="col-xs-3 control-label">Maximum Team Number</label>
                            <div class="col-xs-9">
                                <input class="form-control" type="number" name="teamNumber" id="teamNumber" placeholder="Max Team Number" value="50">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-3 control-label">Team Size</label>
                            <div class="form-inline col-xs-9" id="groupSize">
                                <div class="form-group">
                                    <input type="number" class="form-control" name="minGroupSize" placeholder="Minimum" value="5">
                                </div>
                                <div class="form-group">
                                    <input type="number" class="form-control" name="maxGroupSize" placeholder="Maximum" value="8">
                                </div>
                            </div>
                        </div>
                        <div class="form-group stand-alone-form-group">
                            <label class="col-xs-3 control-label">Keywords</label>
                            <div class="col-xs-9">
                                <input type="text" class="form-control" name="keyword" id="keyword" placeholder="Keywords" aria-describedby="helpKeyword" required>
                                <span id="helpKeyword" class="help-block">Use commas to separate multiple keywords (e.g. hackathon,Java,CS).</span>
                            </div>
                        </div>
                        <div class="form-group stand-alone-form-group">
                            <label class="col-xs-3 control-label">Brief Introduction</label>
                            <div class=" col-xs-9">
                                <textarea name="name" class="form-control" rows="4" placeholder="Briefly introduce this event." aria-describedby="helpIntroduction" required>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                </textarea>
                                <span id="helpIntroduction" class="help-block">Max 200 characters allowed.</span>
                            </div>
                        </div>
                    </form>
                    <div class="row buttonWrapper" style="margin: 0">
                        <button type="button" name="button" style="width: 100%; padding-top: 20px; padding-bottom: 20px; margin-bottom: 0;">Update!</button>
                    </div>
                </div>
                <!--teamMemberView wraps the validTeamList and pendingTeamList-->
                <div class="teamMemberView">
                    <h3>Teams</h3>
                    <div class="row">
                        <div class="col-sm-6 validTeamMemberList">
                            <h4>Valid Teams</h4>
                            <ul ng-controller="team-valid-team-ctrl">
                                <!--Click on the cross icon will remove the view-->
                                <!--TODO click on the cross icon will remove corresponding record in the database-->
                                <a href="#" ng-repeat="team in validTeams">
                                    <li class="validTeamMember">{{team.Name}}<i class="fa fa-times fa-lg" aria-hidden="true"></i></li>
                                </a>
                                
                                <!--
                                <a href="#"><li class="validTeamMember">teamName<i class="fa fa-times fa-lg" aria-hidden="true"></i></li></a>
                                <a href="#"><li class="validTeamMember">teamName<i class="fa fa-times fa-lg" aria-hidden="true"></i></li></a>
                                <a href="#"><li class="validTeamMember">teamName<i class="fa fa-times fa-lg" aria-hidden="true"></i></li></a>
                                <a href="#"><li class="validTeamMember">teamName<i class="fa fa-times fa-lg" aria-hidden="true"></i></li></a>
                                <a href="#"><li class="validTeamMember">teamName<i class="fa fa-times fa-lg" aria-hidden="true"></i></li></a>
                                <a href="#"><li class="validTeamMember">teamName<i class="fa fa-times fa-lg" aria-hidden="true"></i></li></a>
                                <a href="#"><li class="validTeamMember">teamName<i class="fa fa-times fa-lg" aria-hidden="true"></i></li></a>
                                <a href="#"><li class="validTeamMember">teamName<i class="fa fa-times fa-lg" aria-hidden="true"></i></li></a> -->
                            </ul>
                        </div>
                        <div class="col-sm-6 pendingTeamMemberList">
                            <h4>Pending Teams</h4>
                             <ul ng-controller="team-pending-team-ctrl">
                                <!--Click on the cross icon will remove the view-->
                                <!--TODO click on the cross icon will remove corresponding record in the database-->
                                <a href="#" ng-repeat="team in pendingTeams">
                                    <li class="pendingTeamMember">{{team.Name}}<i class="fa fa-times fa-lg" aria-hidden="true"></i></li>
                                </a>
                                <!--
                                <a href="#"><li class="pendingTeamMember">teamName<i class="fa fa-times fa-lg" aria-hidden="true"></i></li></a>
                                <a href="#"><li class="pendingTeamMember">teamName<i class="fa fa-times fa-lg" aria-hidden="true"></i></li></a>
                                <a href="#"><li class="pendingTeamMember">teamName<i class="fa fa-times fa-lg" aria-hidden="true"></i></li></a>
                                <a href="#"><li class="pendingTeamMember">teamName<i class="fa fa-times fa-lg" aria-hidden="true"></i></li></a>
                                <a href="#"><li class="pendingTeamMember">teamName<i class="fa fa-times fa-lg" aria-hidden="true"></i></li></a>
                                <a href="#"><li class="pendingTeamMember">teamName<i class="fa fa-times fa-lg" aria-hidden="true"></i></li></a>
                                <a href="#"><li class="pendingTeamMember">teamName<i class="fa fa-times fa-lg" aria-hidden="true"></i></li></a>
                                <a href="#"><li class="pendingTeamMember">teamName<i class="fa fa-times fa-lg" aria-hidden="true"></i></li></a>
                                <a href="#"><li class="pendingTeamMember">teamName<i class="fa fa-times fa-lg" aria-hidden="true"></i></li></a> -->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--dashboard.js formats the navigation bars to enforce consistent UI-->
    <script src="js/dashboard.js"></script>
</body>
</html>
