<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="teamform, team">
    <title>Teamform - Event Information</title>

    <script src="lib/jquery.min.js"></script>
    <script src="lib/bootstrap.min.js"></script>
    <script src="lib/angular.min.js"></script>
    <script src="lib/angular-route.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.6.1/firebase.js"></script>
<script src="https://cdn.firebase.com/libs/angularfire/2.0.1/angularfire.min.js"></script>
    <script src="lib/angularfire.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/dashboard.css" media="screen">
    <link rel="stylesheet" href="css/event.css" media="screen">
    <link rel="icon" href="img/icon.png">
    <!-- Customized libraries shared by pages -->
    <script src="js/site.js"></script>
</head>
<body ng-app="eventInfo-app">
    <div class="container-fluid" ng-controller="eventInfo-ctrl">

        <!--Navigation Bar-->
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navCollapse" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Teamform</a>
            </div>
            <ul class="nav navbar-nav navbar-right collapse navbar-collapse" id="navCollapse">
                <li class="visible-xs-block"><a href="dashboard.html"><i class="fa fa-user fa-fw" aria-hidden="true"></i>&nbsp; Profile</a></li>
                <li class="visible-xs-block"><a href="team.html"><i class="fa fa-users fa-fw" aria-hidden="true"></i>&nbsp; Teams</a></li>
                <li class="visible-xs-block"><a href="event.html"><i class="fa fa-flag-checkered fa-fw" aria-hidden="true"></i>&nbsp; Events</a></li>
                <li class="visible-xs-block"><a href="explore.html"><i class="fa fa-search fa-fw" aria-hidden="true"></i>&nbsp; Explore</a></li>
                <li class="visible-xs-block"><a href="message.html"><i class="fa fa-envelope-o fa-fw" aria-hidden="true"></i>&nbsp; Messages</a></li>
                <li><a href="#"><i class="fa fa-power-off fa-fw" aria-hidden="true"></i>&nbsp; Log out</a></li>
            </ul>
        </nav>

        <!--The Main Application View-->
        <div class="row" id="main">
            <!--The side navigation bar-->
            <div class="col-sm-2 hidden-xs setMargin">
                <!--TODO Link the background-image of #profilePic with the profile picture database-->
                <div class="sideNav" id="profilePic">
                    <a href="dashboard.html"></a>
                </div>
                <div class="sideNav">
                    <a href="team.html"><i class="fa fa-users fa-3x" aria-hidden="true"></i><br>Teams</a>
                </div>
                <div class="sideNav active">
                    <a href="event.html"><i class="fa fa-flag-checkered fa-3x" aria-hidden="true"></i><br>Events</a>
                </div>
                <div class="sideNav">
                    <a href="explore.html"><i class="fa fa-search fa-3x" aria-hidden="true"></i><br>Explore</a>
                </div>
                <div class="sideNav">
                    <a href="message.html"><i class="fa fa-envelope-o fa-3x" aria-hidden="true"></i><br>Messages</a>
                </div>
            </div>
            <!--Content-->
            <div class="col-sm-10 setMargin">
                <!--createTeamView wraps the create team input and button-->
                <div class="createTeamView">
                    <!--TODO Backend hides this form if the user is already in the event-->
                    <!--TODO The same logic will be: hide this form if eventinfo.html is directed by event.html but not explore.html-->
                    <!--This design prevents the duplication of view elements-->
                    <form class="row">
                        <div class="col-sm-9">
                            <input type="text" class="form-control" placeholder="Team Name" ng-model="teamName">
                        </div>
                        <div class="col-sm-3">
                            <!--click the search button will toggle the view to searchResultView-->
                            <button class="btn btn-default" type="button" id="searchButton" ng-click="createTeam()">Create Team</button>
                        </div>
                    </form>
                </div>
                <!--eventInfoView wraps the event information that is visible to non-administrators-->
                <div class="eventInfoView">
                    <h2>{{data.Name}}</h2>
                    <ul style="list-style-type:none">
                        <li class="row"><div class="col-xs-3">Status</div><div class="col-xs-9">{{data.Status}}</div></li>
                        <li class="row"><div class="col-xs-3">Time</div><div class="col-xs-9">{{data.Time | date}}</div></li>
                        <li class="row"><div class="col-xs-3">Location</div><div class="col-xs-9">City: {{data.Location.City}}, Country: {{data.Location.Country}}</div></li>
                        <li class="row"><div class="col-xs-3">Team Size Limit</div><div class="col-xs-9">{{data.Requirements.minTeamSize}} to {{data.Requirements.maxTeamSize}}</div></li>
                        <li class="row"><div class="col-xs-3">Keywords</div><div class="col-xs-9">{{data.Keywords | keywordString}}</div></li>
                        <li class="row"><div class="col-xs-3">Introduction</div><div class="col-xs-9">
                            {{data.Introduction}}
                        </div></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!--dashboard.js formats the navigation bars to enforce consistent UI-->
    <script src="js/dashboard.js"></script>
    <script src="js/search.js"></script>
    <script src="js/eventInfo.js"></script>
</body>
</html>
