<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="teamform, team">
    <title>Teamform - Event List</title>

    <script src="lib/jquery.min.js"></script>
    <script src="lib/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/dashboard.css" media="screen">
    <link rel="stylesheet" href="css/event.css" media="screen">

    <link rel="icon" href="img/icon.png">

	<!-- AngularJS -->
	<script src="lib/angular.min.js"></script>

	<!-- Firebase -->
	<script src="https://www.gstatic.com/firebasejs/3.4.1/firebase.js"></script>

	<!-- AngularFire -->
	<script src="lib/angularfire.min.js"></script>


    <!-- Customized libraries shared by pages -->
    <script src="js/site.js"></script>
    <script src="js/eventManagement.js"></script>
</head>
<body ng-app="teamform-event-app">
    <div class="container-fluid">

        <!--Navigation Bar-->
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navCollapse" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Teamform</a>
            </div>
            <ul class="nav navbar-nav navbar-right collapse navbar-collapse" id="navCollapse">
                <li class="visible-xs-block"><a href="dashboard.html"><i class="fa fa-user fa-fw" aria-hidden="true"></i>&nbsp; Profile</a></li>
                <li class="visible-xs-block"><a href="team.html"><i class="fa fa-users fa-fw" aria-hidden="true"></i>&nbsp; Teams</a></li>
                <li class="visible-xs-block"><a href="event.html"><i class="fa fa-flag-checkered fa-fw" aria-hidden="true"></i>&nbsp; Events</a></li>
                <li class="visible-xs-block"><a href="explore.html"><i class="fa fa-search fa-fw" aria-hidden="true"></i>&nbsp; Explore</a></li>
                <li class="visible-xs-block"><a href="message.html"><i class="fa fa-envelope-o fa-fw" aria-hidden="true"></i>&nbsp; Messages</a></li>
                <li><a href="#"><i class="fa fa-power-off fa-fw" aria-hidden="true"></i>&nbsp; Log out</a></li>
            </ul>
        </nav>

        <!--The Main Application View-->
        <div class="row" id="main">

            <!--The side navigation bar-->
            <div class="col-sm-2 hidden-xs setMargin">
                <!--TODO Link the background-image of #profilePic with the profile picture database-->
                <div class="sideNav" id="profilePic">
                    <a href="dashboard.html"></a>
                </div>
                <div class="sideNav">
                    <a href="team.html"><i class="fa fa-users fa-3x" aria-hidden="true"></i><br>Teams</a>
                </div>
                <div class="sideNav active">
                    <a href="event.html"><i class="fa fa-flag-checkered fa-3x" aria-hidden="true"></i><br>Events</a>
                </div>
                <div class="sideNav">
                    <a href="explore.html"><i class="fa fa-search fa-3x" aria-hidden="true"></i><br>Explore</a>
                </div>
                <div class="sideNav">
                    <a href="message.html"><i class="fa fa-envelope-o fa-3x" aria-hidden="true"></i><br>Messages</a>
                </div>
            </div>

            <!--Content-->
            <div class="col-sm-10 setMargin">
                <!--eventView displays the event list and the create event button-->
                <div class="eventView">
                    <div class="row buttonWrapper" style="margin: 0">
                        <button type="button" id="createNewEvent" name="button" style="width: 100%; padding-top: 20px; padding-bottom: 20px; margin-bottom: 0;">Create a New Event</button>
                    </div>
                    <!--events wraps all the event items-->
                    <div class="events" ng-controller="event-display-ctrl">
                        <!--Use <a> to wrap <div> cannot pass XHTML requirements but is valid for HTML5-->
                        <div ng-repeat="event in events">

						<!-- Attention!!! -->
                        <!-- Issues like different href's and different status unsettled-->
                        <a href="eventmanage.html">
                            <div class="row {{event.Status}}Event">
                                <div class="col-sm-offset-1 col-xs-11">
                                    <h3>{{event.Name}}<i class="fa fa-star-o" aria-hidden="true"></i></h3>
                                    <p>
                                       {{event.Introduction}}

                                    </p>
                                    <p>
                                        <span>Event Time: {{event.Time.Time}}</span><span>Current Group Number: &nbsp;<span class="badge">{{(event.Participants)?event.Participants.length:0}}</span></span>
                                    </p>
                                </div>
                            </div>
                        </a>
                        </div>
                        <!--
                         <a href="eventmanage.html">
                            <div class="row openEvent">
                                <div class="col-sm-offset-1 col-xs-11">
                                    <h3><i class="fa fa-star-o" aria-hidden="true"></i></h3>
                                    <p>
                                        Star sign indicates the user is the administrator of the event.<br>
                                        Green color indicates this event is still open.<br>
                                        click on the link direct to the details view of the event(groups, attributes).
                                        
                                    </p>
                                    <p>
                                        <span>Event Time:</span><span>Current Group Number: &nbsp;<span class="badge">30</span></span>
                                    </p>
                                </div>
                            </div>
                        </a>
                        <a href="eventmanage.html">
                            <div class="row closeEvent">
                                <div class="col-sm-offset-1 col-xs-11">
                                    <h3>Event 2 <i class="fa fa-star-o" aria-hidden="true"></i></h3>
                                    <p>
                                        Yellow color indicates this event is closed.<br>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<br>
                                    </p>
                                    <p>
                                        <span>Event Time:</span><span>Current Group Number: &nbsp;<span class="badge">30</span></span>
                                    </p>
                                </div>
                            </div>
                        </a>
                        <a href="eventmanage.html">
                            <div class="row terminatedEvent">
                                <div class="col-sm-offset-1 col-xs-11">
                                    <h3>Event 3 <i class="fa fa-star-o" aria-hidden="true"></i></h3>
                                    <p>
                                        Red color indicates this event is terminated.<br>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<br>
                                    </p>
                                    <p>
                                        <span>Event Time:</span><span>Current Group Number: &nbsp;<span class="badge">100</span></span>
                                    </p>
                                </div>
                            </div>
                        </a>
                        <a href="eventinfo.html">
                            <div class="row openEvent">
                                <div class="col-sm-offset-1 col-xs-11">
                                    <h3>Event 4 / TeamName <i class="fa fa-user-o" aria-hidden="true"></i></h3>
                                    <p>
                                        If the user is a participant of an event, his team name will be displayed after the slash.<br>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<br>
                                    </p>
                                    <p>
                                        Event Time:
                                    </p>
                                </div>
                            </div>
                        </a>
                        <a href="eventinfo.html">
                            <div class="row closeEvent">
                                <div class="col-sm-offset-1 col-xs-11">
                                    <h3>Event 5 / TeamName <i class="fa fa-user-o" aria-hidden="true"></i></h3>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<br>
                                    </p>
                                    <p>
                                        Event Time:
                                    </p>
                                </div>
                            </div>
                        </a>
                        <a href="eventinfo.html">
                            <div class="row openEvent">
                                <div class="col-sm-offset-1 col-xs-11">
                                    <h3>Event 6 / TeamName <i class="fa fa-user-o" aria-hidden="true"></i></h3>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<br>
                                    </p>
                                    <p>
                                        Event Time:
                                    </p>
                                </div>
                            </div>
                        </a> -->
                    </div>
                </div>

                <!--createEventView is toggled after the Create Event button is clicked-->
                <div class="createEventView" ng-controller="teamform-create-event-ctrl">
                    <form ng-submit="createNewEvent()" method="post">
                        <div class="form-group">
                            <label for="eventName">Event Name *</label>
                            <input type="text" class="form-control" name="eventname" id="eventName" placeholder="Event Name" aria-describedby="helpEventName" ng-model="eventName">
                            <span id="helpEventName" class="help-block">Length limited to 50 characters.</span>
                        </div>
                        <div class="form-group">
                            <label for="eventTime">Event Time*</label>
                            <div class="form-inline" id="eventTime">
                                <div class="form-group">
                                    <input type="date" class="form-control" name="date" ng-model="date">
                                </div>
                                <div class="form-group">
                                    <input type="time" class="form-control" name="time" ng-model="time">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="location">Event Location</label>
                            <div class="form-inline" id="location">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="country" placeholder="Country" ng-model="country">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" name="city" placeholder="City" ng-model="city">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="teamNumber">Maximum Team Number</label>
                            <input class="form-control" type="number" name="teamNumber" id="teamNumber" placeholder="Max Team Number" ng-model="maxTeamNumber">
                        </div>
                        <div class="form-group">
                            <label for="groupSize">Team Size</label>
                            <div class="form-inline" id="groupSize">
                                <div class="form-group">
                                    <input type="number" class="form-control" name="minGroupSize" placeholder="Minimum" ng-model="minTeamSize">
                                </div>
                                <div class="form-group">
                                    <input type="number" class="form-control" name="maxGroupSize" placeholder="Maximum" ng-model="maxTeamSize">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="keyword">Keywords</label>
                            <input type="text" class="form-control" name="keyword" id="keyword" placeholder="Keywords" aria-describedby="helpKeyword" ng-model="keywords">
                            <span id="helpKeyword" class="help-block">Use commas to separate multiple keywords (e.g. hackathon,Java,CS).</span>
                        </div>
                        <div>
                            <label for="introduction">Brief Introduction</label>
                            <textarea name="name" class="form-control" rows="4" placeholder="Briefly introduce this event." aria-describedby="helpIntroduction" ng-model="introduction"></textarea>
                            <span id="helpIntroduction" class="help-block">Max 200 characters allowed.</span>
                        </div>
                        <div class="buttonWrapper">
                            <button type="submit" name="button">Create Event</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--dashboard.js formats the navigation bars to enforce consistent UI-->
    <script src="js/dashboard.js"></script>
</body>
</html>
