<!DOCTYPE html>
<html lang="en" ng-app="teamform-index-app">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="teamform, team">
    <title>Teamform - A real-time online team forming app</title>

    <script src="lib/jquery.min.js"></script>
    <script src="lib/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/index.css" media="screen">
    <link rel="icon" href="img/icon.png">
    <!-- Customized libraries shared by pages -->
    <script src="js/site.js"></script>
    <!-- Angular and Angular-route libraries (v1.5.7) -->
    <script src="lib/angular.min.js"></script>
    <script src="lib/angular-route.min.js"></script>        
         
    <!-- Firebase (v3.0.3) and AngularFire (v2.0.0) (after angular library is loaded) -->
    <script src="lib/firebase.js"></script>     
    <script src="lib/angularfire.min.js"></script>
</head>

<!-- TODO: add bootstrap scrollspy to body -->
<!--data-spy="scroll" data-target=".navbar" data-offset="30"-->
<body>
    <!--background carousel-->
    <div class="carousel slide" data-ride="carousel" data-interval="4000">
        <div class="carousel-inner" role="listbox">
            <div class="item active"><div class="carouselImg" id="carouselImg1"></div></div>
            <div class="item"><div class="carouselImg" id="carouselImg2"></div></div>
            <div class="item"><div class="carouselImg" id="carouselImg3"></div></div>
        </div>
    </div>

    <div class="container-fluid">

        <!--Navigation Bar-->
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Teamform</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#tutorial">Tutorial</a></li>
                    <li><a href="#about">About Teamform</a></li>
                    <li><a href="#developer">Developers</a></li>
                </ul>
            </div>
        </nav>

        <!--headline section-->
        <div class="row">
            <div class="col-md-8 noPaddingColumn">
                <div class="headline">
                    <h1>Team forming has never been easier.</h1>
                    <p>Team up for your favorite event, today.</p>
                </div>
            </div>
            <div class="col-md-4 noPaddingColumn">
                <div class="connect">
                    <div class="buttonBlock">
                        <div id="index_page_controller" ng-controller="IndexCtrl">
                            <input type="text" class="form-control" id="inputUserID" ng-model="username">
                            <button type="button" name="button" class="connectButton" id="google" ng-click="authenticate();"><i class="fa fa-google fa-lg" aria-hidden="true"></i>Connect with Google</button>
                            <button type="button" name="button" class="connectButton" id="facebook" ng-click="getInfo();"><i class="fa fa-facebook fa-lg" aria-hidden="true"></i>Connect with Facebook</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--tutorial section-->
        <div class="row" id="tutorial">
            <div class="col-xs-12" id="tutorialCol">
                <h3>
                    Learn how to use Teamform
                </h3>
                <div class="iframeWrapper">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe src="https://www.youtube.com/embed/Ow1-uj0ToVY" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>

        <!--about section-->
        <div class="row" id="about">
            <div class="col-xs-12 aboutCol">
                <h3>About Teamform</h3>
                <p>
                    Using Teamform web app or Android app, you can create an event to recruit teams, create a team for
                    your members to join, or join a team for your favorite event!<br>
                    This is an HKUST COMP3111H course project.<br>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<br>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </div>
        </div>

        <!--developer section-->
        <div class="row" id="developer">
            <div class="col-xs-12" id="developerCol">
                <h3> We are Official Sunghun Fanclub / Sunghun공식팬클럽 / 成勳官方粉絲團</h3>
                <p>
                    We have a lot of love for both Professor Sunghun and IA Peter!
                </p>
                <div class="col-sm-2 member">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            CAO, Shuyang Lawrence
                        </div>
                        <div class="panel-body">
                            <img src="img/larry.jpg" class="img-responsive img-circle" alt="larry" />
                        </div>
                        <div class="panel-footer">
                            Backend Developer
                        </div>
                    </div>
                </div>
                <div class="col-sm-2 member">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            LI, Pengcheng Patrick
                        </div>
                        <div class="panel-body">
                            <img src="img/patty.jpg" class="img-responsive img-circle" alt="patty" />
                        </div>
                        <div class="panel-footer">
                            Backend Developer
                        </div>
                    </div>
                </div>
                <div class="col-sm-2 member">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            LIU, Xin Jakob
                        </div>
                        <div class="panel-body">
                            <img src="img/jakob.jpeg" class="img-responsive img-circle" alt="jakob" />
                        </div>
                        <div class="panel-footer">
                            Frontend Developer
                        </div>
                    </div>
                </div>
                <div class="col-sm-2 member">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            PICKLE, Jacob
                        </div>
                        <div class="panel-body">
                            <img src="img/jake.jpg" class="img-responsive img-circle" alt="jake" />
                        </div>
                        <div class="panel-footer">
                            Backend Developer
                        </div>
                    </div>
                </div>
                <div class="col-sm-2 member">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            SU, Yanzhe Kevin
                        </div>
                        <div class="panel-body">
                            <img src="img/kev.jpg" class="img-responsive img-circle" alt="kevin" />
                        </div>
                        <div class="panel-footer">
                            Frontend Developer
                        </div>
                    </div>
                </div>
                <div class="col-sm-2 member">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            ZHANG, Kao Collin
                        </div>
                        <div class="panel-body">
                            <img src="img/collin.jpg" class="img-responsive img-circle" alt="collin" />
                        </div>
                        <div class="panel-footer">
                            Frontend Developer
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!--footer-->
        <div class="row" id="footer">
            <div class="col-xs-12" id="footerCol">
                <p>
                    Powered by Bootstrap. This is an HKUST COMP3111H Project. &copy; 2016 Offcial Sunghun Fanclub.
                </p>
            </div>
        </div>
    </div>

    <!-- JavaScript of this page -->
    <script src="js/index.js"></script>
</body>
</html>
