<!-- index.html frontend work completed -->
<!-- Team: Official Sunghun Fanclub -->
<!-- The authors created this web application from scratch without any existing template -->
<!-- Our team do not declare right on the icons and images used on the app -->
<!-- Copying the implementation without credits is an unjust act -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <meta name="keywords" content="teamform, team">
    <title>Teamform - A real-time online team forming app</title>

    <script src="lib/jquery.min.js"></script>
    <script src="lib/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/index.css" media="screen">
    <link rel="icon" href="img/icon.png">
    <!-- Customized libraries shared by pages -->
    
    <!-- Angular and Angular-route libraries (v1.5.7) -->
    <script src="lib/angular.min.js"></script>
    <script src="lib/angular-route.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular-animate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular-sanitize.min.js"></script>

    <!-- Firebase (v3.0.3) and AngularFire (v2.0.0) (after angular library is loaded) -->
    <!--<script src="lib/firebase.js"></script>-->
    <script src="https://www.gstatic.com/firebasejs/3.6.1/firebase.js"></script>
    <!--
    <script>
        // Initialize Firebase
        var config = {
            apiKey: "AIzaSyCGA1xMB_cjAf1pEKyROtcMkLjtTbpjxis",
            authDomain: "comp3111hproj.firebaseapp.com",
            databaseURL: "https://comp3111hproj.firebaseio.com",
            storageBucket: "comp3111hproj.appspot.com",
            messagingSenderId: "622320647090"
        };
        firebase.initializeApp(config);
    </script>
    -->
    <script src="js/site.js"></script>
    <script src="lib/angularfire.min.js"></script>
    <link rel="manifest" href="manifest.json">
    <script src="lib/bluebird.min.js"></script>
    <!-- ionic/angularjs js -->
    <script src="http://code.ionicframework.com/1.3.2/js/angular-ui/angular-ui-router.min.js"></script>
    <script src="http://code.ionicframework.com/1.3.2/js/ionic.min.js"></script>
    <script src="http://code.ionicframework.com/1.3.2/js/ionic-angular.js"></script>
    <script src="lib/ionic.cloud.min.js"></script>
    <!--
        cordova script (this will be a 404 during development)
        Reference: http://stackoverflow.com/questions/25961013/how-to-convert-an-existing-angularjs-web-app-to-a-cordova-app
    -->
    <script src="cordova.js"></script>
</head>

<body data-spy="scroll" data-target=".navbar" data-offset="30" ng-app="teamform-index-app">
    <!--background carousel-->
    <div class="carousel slide" data-ride="carousel" data-interval="4000">
        <div class="carousel-inner" role="listbox">
            <div class="item active"><div class="carouselImg" id="carouselImg1"></div></div>
            <div class="item"><div class="carouselImg" id="carouselImg2"></div></div>
            <div class="item"><div class="carouselImg" id="carouselImg3"></div></div>
        </div>
    </div>

    <div class="container-fluid" ng-controller="IndexCtrl">

        <!--Navigation Bar-->
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Teamform</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#tutorial">Tutorial</a></li>
                    <li><a href="#about">About Teamform</a></li>
                    <li><a href="#developer">Developers</a></li>
                </ul>
            </div>
        </nav>

        <!--headline section for laptop-->
        <div class="row hidden-xs">
            <div class="col-md-8 noPaddingColumn">
                <div class="headline">
                    <h1>Team forming has never been easier.</h1>
                    <p>Team up for your favorite event, today.</p>
                </div>
            </div>
            <div class="col-md-4 noPaddingColumn">
                <div class="connect">
                    <div class="buttonBlock">
                        <div id="index_page_controller">
                            <button type="button" name="button" class="connectButton" id="google" ng-click="authenticate();"><i class="fa fa-google fa-lg" aria-hidden="true"></i>Connect with Google</button>
                            <button type="button" name="button" class="connectButton" id="facebook"><i class="fa fa-facebook fa-lg" aria-hidden="true"></i>Connect with Facebook</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--headline section for mobile-->
        <div class="row hidden-sm hidden-md hidden-lg mobileView">
            <div class="col-xs-12 noPaddingColumn">
                <div class="headline">
                    <h1>Team forming has never been easier.</h1>
                    <p>Team up for your favorite event, today.</p>
                </div>
                <div class="buttonBlock">
                    <div id="index_page_controller">
                        <button type="button" name="button" class="connectButton" id="google" ng-click="authenticate();"><i class="fa fa-google fa-lg" aria-hidden="true"></i>Connect with Google</button>
                        <button type="button" name="button" class="connectButton" id="facebook"><i class="fa fa-facebook fa-lg" aria-hidden="true"></i>Connect with Facebook</button>
                    </div>
                </div>
            </div>
        </div>

        <!--tutorial section-->
        <div class="row" id="tutorial">
            <div class="col-xs-12" id="tutorialCol">
                <h3>
                    Learn how to use Teamform
                </h3>
                <div class="iframeWrapper">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe src="https://www.youtube.com/embed/Ow1-uj0ToVY" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>

        <!--about section-->
        <div class="row" id="about">
            <div class="col-xs-12 aboutCol">
                <h3>About Teamform</h3>
                <p>
                    With Teamform web application or Android application, you can create your own event to recruit teams, create a team for
                    friends to join, or join a team for your favorite event!
                </p>
                <p>
                    Connect to Teamform with your Google or Facebook account. Start TEAMING! As simple as that.
                </p>
                <p>
                    If some information is outdated, don't worry! Update information is no trouble on Teamform.
                </p>
                <p>
                    Tell us something about yourself on the profile editing page. This helps interested team leaders to find you more easily!
                    This also allows our search and recommendation system to deliver the best user experience!
                </p>
                <p>
                    Try our team and event management system to make your work efficient and productive.
                </p>
                <p>
                    There are inbox and outbox built in Teamform, and MORE!
                </p>
                <p>
                    This is an HKUST COMP3111H course project.
                </p>
            </div>
        </div>

        <!--developer section-->
        <div class="row" id="developer">
            <div class="col-xs-12" id="developerCol">
                <h3> We are Official Sunghun Fanclub / Sunghun공식팬클럽 / 成勳官方粉絲團</h3>
                <p>
                    We have a lot of love for both Professor Sunghun and IA Peter!
                </p>
                <div class="col-sm-2 member">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            CAO, Shuyang Lawrence
                        </div>
                        <div class="panel-body">
                            <img src="img/larry.jpg" class="img-responsive img-circle" alt="larry" />
                        </div>
                        <div class="panel-footer">
                            Search System
                        </div>
                    </div>
                </div>
                <div class="col-sm-2 member">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            LI, Pengcheng Patrick
                        </div>
                        <div class="panel-body">
                            <img src="img/patty.jpg" class="img-responsive img-circle" alt="patty" />
                        </div>
                        <div class="panel-footer">
                            Backend Developer
                        </div>
                    </div>
                </div>
                <div class="col-sm-2 member">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            LIU, Xin Jakob
                        </div>
                        <div class="panel-body">
                            <img src="img/jakob.jpeg" class="img-responsive img-circle" alt="jakob" />
                        </div>
                        <div class="panel-footer">
                            Frontend Developer
                        </div>
                    </div>
                </div>
                <div class="col-sm-2 member">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            PICKLE, Jacob
                        </div>
                        <div class="panel-body">
                            <img src="img/jake.jpg" class="img-responsive img-circle" alt="jake" />
                        </div>
                        <div class="panel-footer">
                            Backend Developer
                        </div>
                    </div>
                </div>
                <div class="col-sm-2 member">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            SU, Yanzhe Kevin
                        </div>
                        <div class="panel-body">
                            <img src="img/kev.jpg" class="img-responsive img-circle" alt="kevin" />
                        </div>
                        <div class="panel-footer">
                            Ionic Framework
                        </div>
                    </div>
                </div>
                <div class="col-sm-2 member">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            ZHANG, Kao Collin
                        </div>
                        <div class="panel-body">
                            <img src="img/collin.jpg" class="img-responsive img-circle" alt="collin" />
                        </div>
                        <div class="panel-footer">
                            Quality Assurance
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--footer-->
        <div class="row" id="footer">
            <div class="col-xs-12" id="footerCol">
                <p>
                    Powered by Bootstrap. This is an HKUST COMP3111H Project. &copy; 2016 Offcial Sunghun Fanclub.
                </p>
            </div>
        </div>
    </div>

    <script src="js/index.js"></script>
</body>
</html>
