<!DOCTYPE html>
<html lang="en" ng-app="teamform-message-app">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="teamform, team">
    <title>Teamform - Messages</title>
    <script src="lib/jquery.min.js"></script>
    <script src="lib/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/dashboard.css" media="screen">
    <link rel="stylesheet" href="css/event.css" media="screen">
    <link rel="icon" href="img/icon.png">
    <!-- Customized libraries shared by pages -->
    <script src="js/site.js"></script>

    <!-- Angular and Angular-route libraries (v1.5.7) -->
    <script src="lib/angular.min.js"></script>
    <script src="lib/angular-route.min.js"></script>
    <!-- Firebase (v3.0.3) and AngularFire (v2.0.0) (after angular library is loaded) -->
    <script src="lib/firebase.js"></script>
    <script src="lib/angularfire.min.js"></script>

    <script src="js/loadMessages.js"></script>
</head>

<body>
    <div class="container-fluid" ng-controller="MessageCtrl">
        <!--Navigation Bar-->
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navCollapse" aria-expanded="false"
                    aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Teamform</a>
            </div>
            <ul class="nav navbar-nav navbar-right collapse navbar-collapse" id="navCollapse">
                <li class="visible-xs-block"><a href="dashboard.html"><i class="fa fa-user fa-fw" aria-hidden="true"></i>&nbsp; Profile</a></li>
                <li class="visible-xs-block"><a href="team.html"><i class="fa fa-users fa-fw" aria-hidden="true"></i>&nbsp; Teams</a></li>
                <li class="visible-xs-block"><a href="event.html"><i class="fa fa-flag-checkered fa-fw" aria-hidden="true"></i>&nbsp; Events</a></li>
                <li class="visible-xs-block"><a href="explore.html"><i class="fa fa-search fa-fw" aria-hidden="true"></i>&nbsp; Explore</a></li>
                <li class="visible-xs-block"><a href="message.html"><i class="fa fa-envelope-o fa-fw" aria-hidden="true"></i>&nbsp; Messages</a></li>
                <li><a href="#"><i class="fa fa-power-off fa-fw" aria-hidden="true"></i>&nbsp; Log out</a></li>
            </ul>
        </nav>
        <!--The Main Application View-->
        <div class="row" id="main">
            <!--The side navigation bar-->
            <div class="col-sm-2 hidden-xs setMargin">
                <!--TODO Link the background-image of #profilePic with the profile picture database-->
                <div class="sideNav" id="profilePic">
                    <a href="dashboard.html"></a>
                </div>
                <div class="sideNav">
                    <a href="team.html"><i class="fa fa-users fa-3x" aria-hidden="true"></i><br>Teams</a>
                </div>
                <div class="sideNav">
                    <a href="event.html"><i class="fa fa-flag-checkered fa-3x" aria-hidden="true"></i><br>Events</a>
                </div>
                <div class="sideNav">
                    <a href="explore.html"><i class="fa fa-search fa-3x" aria-hidden="true"></i><br>Explore</a>
                </div>
                <div class="sideNav active">
                    <a href="message.html"><i class="fa fa-envelope-o fa-3x" aria-hidden="true"></i><br>Messages</a>
                </div>
            </div>
            <!--Content-->
            <div class="col-sm-10 setMargin">
                <!--buttonWrapper wraps the inbox and outbox toggle buttons-->
                <div class="row buttonWrapper" style="margin: 0">
                    <div class="col-sm-6">
                        <button type="button" ng-click="loadFunc();" id="inboxButton" class="active" name="button" style="width: 100%; padding-top: 20px; padding-bottom: 20px; margin: 0;">Inbox</button>
                    </div>
                    <div class="col-sm-6">
                        <button type="button" ng-click="loadFunc();" id="outboxButton" name="button" style="width: 100%; padding-top: 20px; padding-bottom: 20px; margin: 0;">Outbox</button>
                    </div>
                </div>
                <!--inboxView is displayed by default; it contains the inbox messages-->
                <div class="row inboxView">
                    <div class="col-md-4">
                        <a href="#" ng-repeat="message in inbox">
                            <!--messageBrief is a brief version of the message-->
                            <!--TODO: Only introduce the active class when a message is being viewed-->
                            <div class="messageBrief active" ng-click="displayMessageInbox(message.Title);">
                                <!--TODO: exclamation symbol only appears for unread messages-->
                                <h4><i class="fa fa-exclamation" aria-hidden="true"></i>&nbsp; {{message.Title}}</h4>
                                <p>
                                    <!--TODO: add parser to message.Time for readability-->
                                    {{message.Time}}
                                </p>
                                <p>
                                    {{message.From}}
                                </p>
                                <p>
                                    <!--TODO: This is a brief version of the content, maybe add a parser to display only first 100 characters-->
                                    {{message.Content}}
                                </p>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-8">
                        <!--messageDetailed is the full content of the message-->
                        <div class="messageDetailed">
                            <p>
                                <!--TODO: link to backend-->
                                Received Time: {{currentTime}}
                            </p>
                            <!--TODO: link to backend-->
                            <h3>{{currentTitle}}</h3>
                            <p>
                                <!--TODO: link to backend-->
                                From User: {{currentFrom}}
                            </p>
                            <p>
                                <!--TODO: link to backend-->
                                {{currentContent}}
                            </p>
                            <div class="buttonWrapper">
                                <!--TODO: after clicking either button, these two buttons will disappear! It cannot be added by frontend, or if the page reloads, the buttons will reappear-->
                                <!--TODO: add function. after clicking accept, the user (if invitation), or the sender (if request), will be added to the team-->
                                <button type="button" name="acceptButton" id="acceptButton" ng-click="acceptInvitation();">Accept</button>
                                <button type="button" name="declineButton" id="declineButton" ng-click="rejectInvitation();">Decline</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!--outboxView contains outbox messages and is displayed after outbox button is clicked-->
                <div class="row outboxView">
                    <div class="col-md-4" >
                        <a href="#" ng-repeat="message in outbox">
                            <!--TODO: Only introduce the active class when a message is being viewed-->
                            <div class="messageBrief active" ng-click="displayMessageOutbox(message.Title);">
                                <h4>{{message.Title}}</h4>
                                <p>
                                    <!--TODO: add parser to message.Time for readability-->
                                    {{message.Time}}
                                </p>
                                <p>
                                    {{message.To}}
                                </p>
                                <p>
                                    <!--TODO: This is a brief version of the content, maybe add a parser to display only first 100 characters-->
                                    {{message.Content}}
                                </p>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-8">
                        <div class="messageDetailed">
                            <p>
                                <!--TODO: link to backend-->
                                Sent Time: {{currentTime}}
                            </p>
                            <!--TODO: link to backend-->
                            <h3>{{currentTitle}}</h3>
                            <p>
                                <!--TODO: link to backend-->
                                To User: {{currentTo}}
                            </p>
                            <p>
                                <!--TODO: link to backend-->
                                {{currentContent}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--dashboard.js formats the navigation bars to enforce consistent UI-->
    <script src="js/dashboard.js"></script>
</body>

</html>
