<!DOCTYPE html>
<html lang="en" ng-app="teamform-profile-app">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="teamform, team">
    <title>Teamform - Profile Editing</title>

    <script src="lib/jquery.min.js"></script>
    <script src="lib/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/profile.css" media="screen">
    <link rel="icon" href="img/icon.png">
    <!-- Customized libraries shared by pages -->
    <script src="js/site.js"></script>
    <script src="lib/angular.min.js"></script>
    <script src="lib/angular-route.min.js"></script>        
         
    <!-- Firebase (v3.0.3) and AngularFire (v2.0.0) (after angular library is loaded) -->
    <script src="lib/firebase.js"></script>     
    <script src="lib/angularfire.min.js"></script>
</head>
<body>

    <div class="container-fluid">
        <!-- Navigation Bar -->
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Teamform</a>
            </div>
        </nav>
        <!-- Headline -->
        <div class="row headline">
            <h1>Welcome to Teamform!</h1>
            <p>
                Before you start, tell us something about yourself!
            </p>
        </div>
    </div>

    <div class="container">
        <div id="profile_page_controller" ng-controller="ProfileCtrl">
            <!-- Form -->
            <form action="" method="post">
                <div class="form-group">
                    <label for="username">Username *</label>
                    <input type="text" class="form-control" name="username" id="username" placeholder="Username" aria-describedby="helpUsername" ng-model="username">
                    <span id="helpUsername" class="help-block">Length limited to 5-20 characters. Only letters, digits, hyphens and underscores are allowed.</span>
                </div>
                <div class="form-group">
                    <label for="email">Email *</label>
                    <input type="email" class="form-control" name="email" id="email" placeholder="Email Address" ng-model="email" required>
                </div>
                <div class="form-group">
                    <label for="gender">Gender</label>
                    <div id="gender">
                        <label class="radio-inline">
                            <input type="radio" name="gender" value="Male" checked> Male
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="gender" value="Female"> Female
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="birthday">Birthday</label>
                    <input type="date" class="form-control" name="birthday" id="birthday">
                </div>
                <div class="form-group">
                    <label for="language">Languages</label>
                    <input type="text" class="form-control" name="language" id="language" placeholder="Languages you speak" aria-describedby="helpLanguage">
                    <span id="helpLanguage" class="help-block">Use commas to separate multiple languages (e.g. English,Mandarin,Cantonese).</span>
                </div>
                <div class="form-group">
                    <label for="location">Current Location</label>
                    <div class="form-inline" id="location">
                        <div class="form-group">
                            <input type="text" class="form-control" name="country" placeholder="Country">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="city" placeholder="City">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="education">Education</label>
                    <div id="education">
                        <div class="radio" id="firstRadio">
                            <label>
                                <input type="radio" name="education" value="associate">Associate Degree
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="education" value="undergraduate" checked> Undergraduate
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="education" value="bachelor"> Bachelor's Degree
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="education" value="master"> Master's Degree
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="education" value="PhD"> PhD
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="skill">Skills</label>
                    <input type="text" class="form-control" name="skill" id="skill" placeholder="Skills you have" aria-describedby="helpSkill">
                    <span id="helpSkill" class="help-block">Use commas to separate multiple skills (e.g. Web Programming,AngularJS,Firebase).</span>
                </div>
                <div class="form-group">
                    <label for="introduction">Brief Self-introduction</label>
                    <textarea name="name" class="form-control" rows="4" placeholder="Briefly introduce yourself!" aria-describedby="helpIntroduction"></textarea>
                    <span id="helpIntroduction" class="help-block">Max 200 characters allowed.</span>
                </div>
                <div id="buttonDiv">
                    <button type="button">Let's start!</button>
                </div>
            </form>
        </div>
    </div>
    <script src="js/profile.js"></script>
</body>
</html>
