<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="teamform, team">
    <title>Teamform - Team Management</title>

    <script src="lib/jquery.min.js"></script>
    <script src="lib/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/dashboard.css" media="screen">
    <link rel="stylesheet" href="css/event.css" media="screen">

    <link rel="icon" href="img/icon.png">
        <script src="lib/angular.min.js"></script>
        
        <!-- Firebase -->
        <script src="https://www.gstatic.com/firebasejs/3.4.1/firebase.js"></script>
        
        <!-- AngularFire -->
        <script src="lib/angularfire.min.js"></script>

    <!-- Customized libraries shared by pages -->
    <script src="js/site.js"></script>
    <script src="js/teamManagement.js"></script>
</head>
<body ng-app="team-manage-app">
    <div class="container-fluid" ng-controller="team-manage-ctrl">

        <!--Navigation Bar-->
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navCollapse" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Teamform</a>
            </div>
            <ul class="nav navbar-nav navbar-right collapse navbar-collapse" id="navCollapse">
                <li class="visible-xs-block"><a href="dashboard.html"><i class="fa fa-user fa-fw" aria-hidden="true"></i>&nbsp; Profile</a></li>
                <li class="visible-xs-block"><a href="team.html"><i class="fa fa-users fa-fw" aria-hidden="true"></i>&nbsp; Teams</a></li>
                <li class="visible-xs-block"><a href="event.html"><i class="fa fa-flag-checkered fa-fw" aria-hidden="true"></i>&nbsp; Events</a></li>
                <li class="visible-xs-block"><a href="explore.html"><i class="fa fa-search fa-fw" aria-hidden="true"></i>&nbsp; Explore</a></li>
                <li class="visible-xs-block"><a href="message.html"><i class="fa fa-envelope-o fa-fw" aria-hidden="true"></i>&nbsp; Messages</a></li>
                <li><a href="#"><i class="fa fa-power-off fa-fw" aria-hidden="true"></i>&nbsp; Log out</a></li>
            </ul>
        </nav>

        <!--The Main Application View-->
        <div class="row" id="main">

            <!--The side navigation bar-->
            <div class="col-sm-2 hidden-xs setMargin">
                <!--TODO Link the background-image of #profilePic with the profile picture database-->
                <div class="sideNav" id="profilePic">
                    <a href="dashboard.html"></a>
                </div>
                <div class="sideNav active">
                    <a href="team.html"><i class="fa fa-users fa-3x" aria-hidden="true"></i><br>Teams</a>
                </div>
                <div class="sideNav">
                    <a href="event.html"><i class="fa fa-flag-checkered fa-3x" aria-hidden="true"></i><br>Events</a>
                </div>
                <div class="sideNav">
                    <a href="explore.html"><i class="fa fa-search fa-3x" aria-hidden="true"></i><br>Explore</a>
                </div>
                <div class="sideNav">
                    <a href="message.html"><i class="fa fa-envelope-o fa-3x" aria-hidden="true"></i><br>Messages</a>
                </div>
            </div>

            <!--Content-->
            <div class="col-sm-10 setMargin">
                <!--teamInfoView wraps the detailed information of the team-->
                <div class="teamInfoView">
                    <h2>{{data.EventName}} / {{data.Name}}</h2>
                    <ul style="list-style-type:none">
                        <li class="row"><div class="col-xs-3">Introduction</div><div class="col-xs-9">
                            {{data.Introduction}}
                        </div></li>
                    </ul>
                    <!--Click the updateTeamInfo button will toggle the view to editing-->
                    <div class="row buttonWrapper" style="margin: 0">
                        <button  type="button" id="updateTeamInfo" name="button" style="width: 100%; padding-top: 20px; padding-bottom: 20px; margin-bottom: 0;">Update Team Infomation</button>
                    </div>
                </div>
                <!--updateTeamInfoView wraps the form to update information-->
                <div class="updateTeamInfoView">
                    <h2>{{data.EventName}} / {{data.Name}}</h2>
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-xs-3 control-label">Introduction</label>
                            <div class="col-xs-9">
                                <textarea ng-model="introduction" name="name" class="form-control" rows="4" placeholder="Briefly introduce yourself!" aria-describedby="helpIntroduction"></textarea>
                                <span id="helpIntroduction" class="help-block">Max 200 characters allowed.</span>
                            </div>
                        </div>
                    </form>
                    <div class="row buttonWrapper" style="margin: 0">
                        <button ng-click="updateTeam()" type="button" name="button" style="width: 100%; padding-top: 20px; padding-bottom: 20px; margin-bottom: 0;">Update!</button>
                    </div>
                </div>
                <!--memberView wraps the existingMember, pendingRequest, and pendingInvitation-->
                <div class="memberView">
                    <h3>Members</h3>
                    <div class="row">
                        <div class="col-sm-4 existingMemberList">
                            <h4>Existing Members</h4>
                            <ul>
                                <!--Click on the cross icon will remove the view-->
                                <!--TODO click on the cross icon will remove corresponding record in the database-->
                                <div ng-repeat="(key, ppl) in member"><a  href="dashboard.html#people/{{ppl.ID}}"><li class="existingMember">{{ppl.Name}}<i class="fa fa-times fa-lg" aria-hidden="true"></i></li></a></div>
                             <!--   <a href="#"><li class="existingMember">memberName<i class="fa fa-times fa-lg" aria-hidden="true"></i></li></a>
                                <a href="#"><li class="existingMember">memberName<i class="fa fa-times fa-lg" aria-hidden="true"></i></li></a>
                                <a href="#"><li class="existingMember">memberName<i class="fa fa-times fa-lg" aria-hidden="true"></i></li></a>
                                <a href="#"><li class="existingMember">memberName<i class="fa fa-times fa-lg" aria-hidden="true"></i></li></a>
                                <a href="#"><li class="existingMember">memberName<i class="fa fa-times fa-lg" aria-hidden="true"></i></li></a>
                                <a href="#"><li class="existingMember">memberName<i class="fa fa-times fa-lg" aria-hidden="true"></i></li></a>
                                <a href="#"><li class="existingMember">memberName<i class="fa fa-times fa-lg" aria-hidden="true"></i></li></a> -->
                            </ul>
                        </div>
                        <div class="col-sm-4 pendingRequestList">
                            <h4>Pending Requests</h4>
                            <ul>
                                <!--TODO click on the tick icon will add the corresponding user to the team-->
                                <div ng-repeat="ppl in pending">    <a href="dashboard.html#people/{{ppl.ID}}"><li class="pendingRequest">{{ppl.Name}}<i class="fa fa-times fa-lg" aria-hidden="true"></i><i class="fa fa-check" aria-hidden="true"></i></li></a> </div>
                           <!--     <a href="#"><li class="pendingRequest">userName<i class="fa fa-times fa-lg" aria-hidden="true"></i><i class="fa fa-check" aria-hidden="true"></i></li></a>
                                <a href="#"><li class="pendingRequest">userName<i class="fa fa-times fa-lg" aria-hidden="true"></i><i class="fa fa-check" aria-hidden="true"></i></li></a>
                                <a href="#"><li class="pendingRequest">userName<i class="fa fa-times fa-lg" aria-hidden="true"></i><i class="fa fa-check" aria-hidden="true"></i></li></a>
                                <a href="#"><li class="pendingRequest">userName<i class="fa fa-times fa-lg" aria-hidden="true"></i><i class="fa fa-check" aria-hidden="true"></i></li></a>
                                <a href="#"><li class="pendingRequest">userName<i class="fa fa-times fa-lg" aria-hidden="true"></i><i class="fa fa-check" aria-hidden="true"></i></li></a>
                                <a href="#"><li class="pendingRequest">userName<i class="fa fa-times fa-lg" aria-hidden="true"></i><i class="fa fa-check" aria-hidden="true"></i></li></a>
                                <a href="#"><li class="pendingRequest">userName<i class="fa fa-times fa-lg" aria-hidden="true"></i><i class="fa fa-check" aria-hidden="true"></i></li></a>
                                <a href="#"><li class="pendingRequest">userName<i class="fa fa-times fa-lg" aria-hidden="true"></i><i class="fa fa-check" aria-hidden="true"></i></li></a> -->
                            </ul>
                        </div>
                        <div class="col-sm-4 pendingInvitationList">
                            <h4>Pending Invitations</h4>
                            <ul>
                               <!-- <a href="#"><li class="pendingInvitation">userName<i class="fa fa-times" aria-hidden="true"></i></li></a>
                                <a href="#"><li class="pendingInvitation">userName<i class="fa fa-times" aria-hidden="true"></i></li></a>
                                <a href="#"><li class="pendingInvitation">userName<i class="fa fa-times" aria-hidden="true"></i></li></a>
                                <a href="#"><li class="pendingInvitation">userName<i class="fa fa-times" aria-hidden="true"></i></li></a>
                                <a href="#"><li class="pendingInvitation">userName<i class="fa fa-times" aria-hidden="true"></i></li></a>
                                <a href="#"><li class="pendingInvitation">userName<i class="fa fa-times" aria-hidden="true"></i></li></a>
                                <a href="#"><li class="pendingInvitation">userName<i class="fa fa-times" aria-hidden="true"></i></li></a>
                                <a href="#"><li class="pendingInvitation">userName<i class="fa fa-times" aria-hidden="true"></i></li></a> -->
                               <div ng-repeat="ppl in invitation"> <a href="dashboard.html#people/{{ppl.ID}}"><li class="pendingInvitation">{{ppl.Name}}<i class="fa fa-times" aria-hidden="true"></i></li></a> </div>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--dashboard.js formats the navigation bars to enforce consistent UI-->
    <script src="js/dashboard.js"></script>
</body>
</html>
